@model m_cls_Image

@{
	ViewData["Title"] = "Image upload";
}

<div>
    <h3>Edit</h3>
</div>
<div>&nbsp;</div>
<div>
    <hr />
    Edit will be here ...
</div>
<div>&nbsp;</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>